<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <app-payment-detail [paylink]="paymentLink"></app-payment-detail>
                </div>
            </div>

        </div>
        <div class="col-lg-6" *ngIf="paymentLink.attributes.pay == false">
            <app-payment-form [dataLink]="paymentLink"></app-payment-form>
        </div>
        <div class="col-lg-6" *ngIf="paymentLink.attributes.pay == true">
            <div class="card">
                <div class="card-body">
                    <app-payment-succesfull></app-payment-succesfull>
                </div>
            </div>
        </div>
    </div>
</div>